@media (max-width:900px){
    .container{
        width: 100%;
    }
    header .navBer .nav{
        display: none;
    }
    .btn{
        font-size: 14px;
        padding: 10px 12px;
    }
    header .navBer .logInf{
        grid-template-columns: repeat(3, 1fr);
        gap: .5rem;
    }
    .hamb_toggle{
        display: block;
    }
    header .navBer{
        padding: .7rem;
    }
    header .navBer .logo {
        width: 160px;
        height: auto;
      }
    .hero{
        padding-top: 50px;
        .container .text{
            h4{
                font-size: 16px;
                margin-bottom: 20px;
            }
            h1{
                font-size: 40px;
            }
        }
    }
    .small_d_menu{
        display: block;
    }
}